{% extends 'base.html.twig' %}

{% block title %}Student Place{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
    
        <h1>Student Place!</h1>
    </div>
        <h2>My subject</h2>

    
    {% if mySubjects is not empty %}
        <ul class="list-group">
            {% for subject in mySubjects %}
                <li class="list-group-item list-group-item-action"><a href="">{{ subject.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are registered in 0 subjects</p>
    {% endif %}

    {% if subjects is not empty %}
        <h2>All Subjects</h2>
        <ul class="list-group">
            {% for subject in subjects %}
                <li  class="list-group-item list-group-item-action">{{ subject.name }} <a href="{{ path('student_register', {'id': subject.id}) }}">register</a></li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}
