{% extends 'base.html.twig' %}

{% block title %}Teacher Place{% endblock %}

{% block body %}
 <div class="jumbotron text-center">
    <h1>Teacher Place!</h1>
</div>
<div class="container-fluid">
    <h2>My subject</h2>
    </div>
    {% if subjects is not empty %}
        <ul>
            {% for subject in subjects %}
                <li>
                    <a href="{{ path('teacher_subject', {'id' : subject.id}) }}">{{ subject.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        You have 0 subject
    {% endif %}

{% endblock %}
