{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
 <div class="jumbotron text-center">
    <h1>Administration</h1>
    </div>
    {{ include('admin/nav.html.twig') }}
{% endblock %}
