<a   class="btn btn-primary"    href="{{ path('user_administration_index') }}">Users</a>
<a   class="btn btn-primary"    href="{{ path('subject_administration_index') }}">Subjects</a>
<a   class="btn btn-primary"    href="{{ path('grade_administration_index') }}">Grades</a>