<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_index') }}">Administration</a>
    {% elseif is_granted('ROLE_TEACHER') %}
    {% endif %}
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Logout</a> &nbsp;&nbsp;
    {% else %}
        <a href="{{ path('app_login') }}">Login</a> &nbsp;&nbsp;
        <a href="{{ path('app_register') }}">Register</a> &nbsp;&nbsp;
    {% endif %}
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
